<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-tabView orientation="left">
        <p-tabPanel header="Casinos" class="m-0">
          <app-casinos />
        </p-tabPanel>
        <p-tabPanel header="Salas" class="m-0">
          <app-rooms />
        </p-tabPanel>
        <p-tabPanel header="Mesas" class="m-0">
          <app-tables />
        </p-tabPanel>
        <p-tabPanel header="Modos de Juego" class="m-0">
          <app-modes />
        </p-tabPanel>
        <p-tabPanel header="Usuarios" class="m-0">
          <app-users />
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
